@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto_regular/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto_bold/Roboto-Bold-webfont.eot");
  src: url("../fonts/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_bold/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto_bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto_bold/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

a {
  text-decoration: none; }

html,
body {
  height: 100%; }

body {
  background: url("../images/body-bg.jpg") top center;
  background-attachment: fixed;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'robotoregular';
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F3640;
  min-width: 320px; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

p {
  margin-bottom: 15px; }

/* drupal reset */
ul li.leaf {
  list-style-image: none;
  list-style-type: none; }

ul.menu li {
  margin: 0; }

li.expanded, li.collapsed, li.leaf {
  padding: 0;
  margin: 0; }

/* base grid */
.page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.footer {
  height: 80px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #2F3640;
  margin-bottom: 15px; }

@media (max-width: 992px) {
  .page {
    padding: 0; } }

/* drupal reset */
.views-exposed-form .views-exposed-widget {
  float: left;
  padding: 0; }

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0; }

.views-exposed-widgets {
  margin-bottom: 0; }

/* header */
.logo {
  width: 40%;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contacts {
  width: 30%;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

.search {
  width: 30%;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

.search .user-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.search .user-menu .menu {
  margin-right: 10px;
  position: relative;
  font-size: 0; }

.search .user-menu .menu a {
  width: 32px;
  height: 40px;
  display: block;
  background: url("../images/acount.svg") 100%; }

.mobile-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  padding: 20px 0; }

.header-row {
  display: none; }

.ajax-shopping-cart-teaser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0; }

.ajax-shopping-cart-teaser p {
  margin: 5px 0;
  color: #2F3640; }

.cart-image {
  position: relative; }

.cart-product-quantity {
  top: -14px;
  right: -8px;
  position: absolute;
  color: #2F3640; }

.mobile-button {
  width: 100px;
  height: 50px;
  background: yellow; }

/* search */
.views-exposed-widgets input {
  width: 100%;
  height: 28px;
  display: block; }

.views-exposed-widgets .views-widget-filter-search_api_views_fulltext {
  width: 75%; }

.views-exposed-widgets .views-widget-filter-search_api_views_fulltext input {
  border: 1px solid #DCDDE1;
  background: #DCDDE1;
  padding: 5px 15px;
  font-size: 15px;
  font-size: 0.9375rem; }

.views-exposed-widgets .views-widget-filter-search_api_views_fulltext input:focus {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  outline: none; }

.views-exposed-widgets .views-submit-button {
  width: 25%;
  position: relative; }

.views-exposed-widgets .views-submit-button input {
  border: 1px solid #44BD32;
  cursor: pointer;
  background: #44BD32;
  color: #44BD32;
  line-height: 27px;
  padding: 0 15px; }

.views-exposed-widgets .views-submit-button:before {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url(../images/search.svg);
  left: 50%;
  margin-left: -12px;
  top: 2px;
  cursor: pointer; }

/* grid */
.container {
  max-width: 1200px;
  padding: 0 15px; }

.container-fluid {
  max-width: 1200px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 0;
  margin-bottom: 0; }

.header-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0; }

.col-1, .col-sm-1, .col-md-1 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-2, .col-sm-2, .col-md-2 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-3, .col-sm-3, .col-md-3 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%; }

.col-4, .col-sm-4, .col-md-4 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-5, .col-sm-5, .col-md-5 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-6, .col-sm-6, .col-md-6 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.col-7, .col-sm-7, .col-md-7 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-8, .col-sm-8, .col-md-8 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-9, .col-sm-9, .col-md-9 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%; }

.col-10, .col-sm-10, .col-md-10 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-11, .col-sm-11, .col-md-11 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-12, .col-sm-12, .col-md-12 {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding: 0 15px; }

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%; }

@media (max-width: 992px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .container-fluid {
    padding: 0 15px; } }

@media (max-width: 768px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

#superfish-1 {
  float: left;
  width: 100%;
  background-color: #44BD32; }

#superfish-1 a {
  font-family: 'robotobold';
  font-size: 15px;
  font-size: 0.9375rem; }

#superfish-1 .sf-item-2 a.sf-depth-1 {
  padding: 15px 20px 15px 30px; }

#superfish-1 a.sf-depth-1:hover {
  color: #2F3640; }

#superfish-1 a.sf-depth-1 {
  text-transform: uppercase;
  color: #fff;
  padding: 15px 20px 15px 20px; }

#superfish-1 li.sf-depth-1#menu-861-1.first {
  width: 25%;
  background-color: #2F3640; }

#superfish-1 li.sf-depth-1#menu-861-1.first:before {
  content: "";
  display: block;
  width: 20px;
  height: 30px;
  background: url(../images/menu.svg);
  position: absolute;
  left: 20px;
  top: 8px; }

#superfish-1 li.sf-depth-1.first a.sf-depth-1 {
  padding: 15px 20px 15px 60px; }

#superfish-1 li.sf-depth-1.first a.sf-depth-1:hover {
  color: #FF4757; }

#superfish-1 li.sf-depth-1 > ul {
  margin-top: 7px;
  padding: 15px 0;
  background-color: #fff;
  width: 400%;
  border-top: 3px solid #2F3640;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

#superfish-1 li.sf-depth-2 ul {
  left: 25%;
  top: -30px;
  width: 75%;
  height: 100%; }

#superfish-1 a.sf-depth-2 {
  padding: 17px 20px 15px 60px;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem; }

#superfish-2 {
  width: 100%;
  float: left;
  padding: 15px 0 15px 0; }

#superfish-2.sf-menu li {
  width: 100%; }

#superfish-2.sf-menu li a {
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px 30px 15px 60px;
  font-family: 'robotobold'; }

.sf-accordion-toggle.sf-style-none {
  position: absolute;
  top: 15px;
  left: 20px; }

#superfish-1-toggle {
  display: block;
  position: relative; }

#superfish-1-toggle i:before {
  width: 20px;
  height: 30px;
  content: '';
  position: absolute;
  background: url("../images/menu.svg"); }

#superfish-1-accordion {
  padding: 20px 0;
  z-index: 0; }

#superfish-1-accordion a.sf-depth-1 {
  padding: 15px 18px 15px 18px;
  text-transform: uppercase;
  font-family: 'robotobold';
  color: #2F3640; }

#superfish-1-accordion ul a.sf-depth-2 {
  padding: 15px 18px 15px 48px;
  text-transform: uppercase;
  font-family: 'robotobold'; }

@media (max-width: 992px) {
  #superfish-1 a.sf-depth-1 {
    padding: 15px 15px 15px 15px; }
  #superfish-1 .sf-item-2 a.sf-depth-1 {
    padding: 15px 15px 15px 15px; }
  #block-superfish-1 .sf-accordion-toggle.sf-style-none a {
    background: #44BD32;
    padding: 20px 15px 20px 60px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    position: relative; }
  #block-superfish-1 .sf-accordion-toggle.sf-style-none a:before {
    content: "";
    display: block;
    width: 20px;
    height: 30px;
    background: url(../images/menu.svg);
    position: absolute;
    left: 20px;
    top: 4px; } }

/* slider blocks */
.slider-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 30px; }

.left-slider-block, .content-slider-block {
  width: 100%;
  min-height: 1px;
  position: relative; }

.left-slider-block {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
  background: #DCDDE1; }

.content-slider-block {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
  padding: 0 15px; }

/* home page 1x1 slider */
.owl-homepage, .owl-product {
  position: relative; }

.owl-homepage .owl-next, .owl-homepage .owl-prev, .owl-product .owl-next, .owl-product .owl-prev {
  position: absolute;
  width: 38px;
  height: 43px;
  font-size: 0;
  top: -23px; }

.owl-homepage .owl-next, .owl-product .owl-next {
  right: 0;
  background: url("../images/next.png") no-repeat 100%; }

.owl-homepage .owl-prev, .owl-product .owl-prev {
  left: 0;
  background: url("../images/prev.png") no-repeat 100%; }

.owl-homepage .owl-buttons, .owl-product .owl-buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0; }

.owl-top-brands .owl-item {
  padding: 0 15px; }

.owl-product .owl-item img {
  margin: 0 auto; }

@media (max-width: 992px) {
  .left-slider-block {
    display: none; }
  .content-slider-block {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; } }

.views-field-field-product-photo {
  margin-bottom: 30px; }

.views-field-field-product-photo img {
  margin: 0 auto; }

.product-title, .views-field-commerce-price {
  text-align: center;
  font-family: 'robotobold'; }

.views-field-commerce-price {
  margin-bottom: 20px; }

.product-title {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
  height: 63px;
  overflow: hidden; }

.product-title a {
  color: #44BD32; }

.product-container {
  margin-bottom: 30px; }

.views-field-add-to-cart-form input {
  display: block;
  margin: 0 auto;
  background: #FF4757;
  border: none;
  color: #fff;
  padding: 0 25px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: 'robotobold';
  cursor: pointer; }

.field-type-commerce-product-reference #edit-submit {
  display: block;
  background: #FF4757;
  border: none;
  color: #fff;
  padding: 0 25px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: 'robotobold';
  cursor: pointer; }

.field-name-title {
  margin: 15px 0 30px 0;
  font-family: 'robotobold';
  font-size: 20px;
  font-size: 1.25rem; }

.field-type-commerce-price {
  font-family: 'robotobold';
  font-size: 18px;
  font-size: 1.125rem; }

.field-type-commerce-product-reference label {
  display: none; }

.mobile-search-block {
  display: none; }

.breadcrumb {
  padding: 15px 0; }

.form-item-quantity .form-text {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  font-size: 1rem;
  text-align: center; }

@media (max-width: 576px) {
  .product-title a {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: 'robotoregular'; }
  .views-field-field-product-photo {
    margin-bottom: 15px; }
  .product-title {
    margin-right: 0;
    margin-left: 0; }
  .views-field-add-to-cart-form input {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 30px; } }
